html{
	font-weight: 300;
}
h4 , h5{
	font-weight: 300;
}
.sbLogo{
    width: 72px;
    height: 60px;
    margin-top: -8px;
    margin-left: -17px;
}
#logo-container{
	height: 64px;
}
.nav-wrapper ul li{
	min-width:130px;
	text-align: center;
}
#nav-mobile{
	background-color: #546e7a;
}
#nav-mobile li a{
	color: #FFFFFF;
	font-weight:300;
}
#sidenav-overlay {
	z-index: 1;
}
.content {
  min-height: calc(100vh - 289px);
}
.page-footer {
  height: 225px;
}
.card-text{
	font-size:18px;
}
@media screen and (max-width: 992px) {
    .page-footer {
        display: none;
    }
}
/* Override for materialize inputs */
input:not([type]):focus:not([readonly]), input[type=text]:not(.browser-default):focus:not([readonly]), input[type=password]:not(.browser-default):focus:not([readonly]), input[type=email]:not(.browser-default):focus:not([readonly]), input[type=url]:not(.browser-default):focus:not([readonly]), input[type=time]:not(.browser-default):focus:not([readonly]), input[type=date]:not(.browser-default):focus:not([readonly]), input[type=datetime]:not(.browser-default):focus:not([readonly]), input[type=datetime-local]:not(.browser-default):focus:not([readonly]), input[type=tel]:not(.browser-default):focus:not([readonly]), input[type=number]:not(.browser-default):focus:not([readonly]), input[type=search]:not(.browser-default):focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]){
    border-bottom: 1px solid #546e7a;
    -webkit-box-shadow: 0 1px 0 0 #546e7a;
    box-shadow: 0 1px 0 0 #546e7a;
}
.nav-dropdown i{
	margin-left: 2px;
}
.dropdown-content li>a, .dropdown-content li>span{
	color:#546e7a;
}
.collection a.collection-item{
	color:#546e7a;
}
.headerIcon{
	font-size: 25px;
	color: #ef6c00;
}
.siteOrangeText{
	color: #ef6c00;
}
.btn, .btn-large{
	background-color: #ef6c00;
}
.btn:hover, .btn-large:hover{
	background-color: #ff9800 ; 
}
.btn:focus, .btn-large:focus{
	background-color: #ef6c00;
}
td, th {
	border-radius: 0px;
}

