html{
	font-weight: 300;
}
h4 , h5{
	font-weight: 300;
}
.nav-wrapper ul li{
	min-width:130px;
	text-align: center;
}
#sidenav-overlay {
	z-index: 1;
}
.content {
  min-height: calc(100vh - 289px);
}
.page-footer {
  height: 225px;
}